@media (min-width: 0px) {
  h3 { font-size: 1rem; }
}

@media (min-width: 400px) {
  h3 { font-size: calc(1rem + 1vw); }
}

@media (min-width: 1001px){
  h3 { font-size: 1.75rem; }
}
.custom-caption{
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, .8);
}
.responsive {
  width: 100%;
  height: auto;
}
.text-lined{
  text-decoration: line-through;
}
@media screen and (max-width: 600px){
  h3{
    text-align:center;
    text-transform: uppercase;
    font-size: 1rem;
  }
  h6{
    text-align:center;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
  }
}
.nunito{
  font-family: "Nunito", Sans-serif;
  letter-spacing: 6.8px;
}
.fade-in-text{
  animation: fadeIn 3s alternate infinite;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.mapouter{
  position:relative;
  text-align:right;
  width:100%;
  height:350px;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  width:100%;height:350px;
}
.gmap_iframe {
  height:350px!important;
}

div.separator
{
    width: 30%;
    margin: auto;
    height:5px;
    position:relative;
    background:#d6634f;
}

div.separator::before, div.separator::after
{
    content:'';
    border:solid;
    border-width:0 0 5px 10px;
    border-color:transparent;
    border-bottom-color:#d6634f;
    width:50%;
    position:absolute;
    top:0;
}

div.separator::before
{
    border-bottom-color:white;
    right:10px;
}

div.separator::after
{
    border-bottom-color:black;
    right:0;
}
